@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-pink: #ffeff6;
    --secondary-pink: #fcf5f8;
    --white: #f7f7f7;
    --background-color: #f5f5f5;
    --text-color: #333333;
}
